<h1>排課清單</h1>
<%= link_to '新增排課', new_work_path,class:'btn btn-info' %> |
<%= link_to '新增課程', new_course_path,class:'btn btn-info' %> |
<%= link_to '新增老師', new_teacher_path,class:'btn btn-info' %> |
<%= link_to '新增班級', new_group_path,class:'btn btn-info' %><br /><br />


<table class="table table-hover">
    <tr>
        <td>班級</td>
        <td>課程</td>
        <td>老師</td>
        <td>星期</td>
        <td>節次</td>
        <td></td>
        <td></td>
    </tr>
    <% @works.each do |work| %>
        <tr>
            <td><%= work.group.try(:group_name) %></td>
            <td><%= work.course.try(:course_name) %></td>
            <td><%= work.teacher.try(:teach_name) %></td>
            <td><%= work.partweek.try(:week_name) %></td>
            <td><%= work.parttime.try(:part_number) %></td>
            <td><%= link_to '編輯', edit_work_path(work),class:"btn btn-info" %></td>
            <td><%= link_to '刪除',work_path(work), method: :delete, data: { confirm: '你確定要刪除?' },class:"btn btn-info" %></td>
        </tr>
    <% end %>
</table>

<br/><br/><br/><br/>

<div role="tabpanel">  
  <ul class="nav nav-tabs" role="tablist">
    <% @groups.each_with_index do |group, index| %>
        <% if index==0 %>
          <li role="presentation" class="active"><a href="#<%= index %>" role="tab" data-toggle="tab"><%= group.group_name %></a></li>
        <% else %>  
          <li role="presentation"><a href="#<%= index %>" role="tab" data-toggle="tab"><%= group.group_name %></a></li>
        <% end %>
    <% end %>
  </ul>
  <div class="tab-content">
    <% @groups.each_with_index do |group,index| %>
      <% if index==0 %>
        <div role="tabpanel" class="tab-pane active" id="<%= index %>">
            <table class="table">
                <tr>
                  <td></td>
                  <% @partweeks.each do |partweek| %>
                    <td><%= partweek.week_name %></td>
                  <% end %>    
                </tr>
                <% @parttimes.each do |parttime| %>
                  <tr>
                    <td style="height:60px;width:150px;"><%= parttime.start_time.strftime("%H:%M")+"~"+parttime.end_time.strftime("%H:%M") %></td>
                    <% @partweeks.each do |partweek| %>
                      <td>
                        <% @run=show_work(parttime.part_number,partweek.day_number,group.group_name) %>
                        <% if @run.blank? %>
                          <%= "" %>
                        <% else %>
                          <%= @run.course_id %><br/>
                          <%= @run.course_name %><br/>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
            </table>
        </div>
      <% else %>
        <div role="tabpanel" class="tab-pane" id="<%= index %>">
            <table class="table">
                <tr>
                  <td></td>
                  <% @partweeks.each do |partweek| %>
                    <td><%= partweek.week_name %></td>
                  <% end %>    
                </tr>
                <% @parttimes.each do |parttime| %>
                  <tr>
                    <td style="height:60px;width:150px;"><%= parttime.start_time.strftime("%H:%M")+"~"+parttime.end_time.strftime("%H:%M") %></td>
                    <% @partweeks.each do |partweek| %>
                      <td>
                        <% @run=show_work(parttime.part_number,partweek.day_number,group.group_name) %>
                        <% if @run.blank? %>
                          <%= "" %>
                        <% else %>
                          <%= @run.course_id %><br/>
                          <%= @run.course_name %><br/>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
            </table>
        </div>  
      <% end %>
    <% end %>
  </div>
</div>



